html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

a {
  color: #fff;
  text-decoration: none;
  transition: all 0.5s;
}

a:hover {
  text-decoration: none;
  color: #cdeaff;
}

* {
  box-sizing: border-box;
}

.pointer {
  cursor: pointer;
}

.color_navbar {
  background-color: #663399;
}

hr {
  border: 1px solid #ddd;
}

iframe {
  background: #ccc;
  border: 1px solid #ccc;
  height: 10rem;
  width: 100%;
  border-radius: .5rem;
  filter: invert(1);
}